body { 
	background-color:#cccccc;
	color: #555;
	font-family: sans-serif;
	font-size: 10px;
	font-weight:normal;
	margin: 20; }

a:link, a:visited, a:active{
	color:0x0000FF; 
	text-decoration:underline; }

ol li {
    list-style-type: none;
    display: table-cell;
    text-align:center;
    vertical-align:bottom;
}

h1 {
    font-size:32px;
    font-weight:normal;
    color:#555;
    margin:0;
    text-align:center;
}

h2 {
    font-size:20px;
    background-color:#005555;
    color:#ff00ff;
    margin-top:0;
}



